<div id="header">
  <%= image_tag "hinagiku_logo", size: "131x65", alt: "サイトロゴ" %>
  <% if current_user %>
    <%= render "shared/user_menu" %>
  <% else %>
    <%= render "shared/visitor_menu" %>
  <% end %>
</div>